@charset "UTF-8";
body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 94px 0;
}

.section--no-padding-top {
  padding-top: 0;
}
@media screen and (max-width: 1200px) {
  .section--no-padding-top {
    display: none;
  }
}

.section--team-background {
  background-color: #F5F4FA;
  padding: 60px 0;
}

.section--clients {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section--clients {
    padding: 94px 0;
  }
}

.section--gallery {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section--gallery {
    padding: 94px 0;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

/* базові */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* Базові H2 */
.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Базові для логотипа */
.logo {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  color: #2196f3;
}

.logo__web {
  color: #2196f3;
}

.logo--foot {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .logo--header {
    margin-right: 93px;
  }
}

/* Базова кнопка button */
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: transparent;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #188CE8;
}

.form__button {
  display: block;
  margin: 0 auto;
}

.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .subscribe__button {
    margin-left: 12px;
  }
}

.order__button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-menu-mobile {
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .btn-menu-mobile {
    display: none;
  }
}

.btn-menu-mobile:hover,
.btn-menu-mobile:focus {
  fill: #2196f3;
}

.btn-menu-mobile .icon-close-mobile {
  display: none;
}

.btn-menu-mobile.is-open .icon-close-mobile {
  display: block;
}

.btn-menu-mobile.is-open .icon-menu-mobile {
  display: none;
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: #AFB1B8;
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  color: #FFFFFF;
}

.social__link--team {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon--team {
  fill: currentColor;
}

.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #EEEEEE;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .social-title {
    text-align: start;
  }
}

.footer__social {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__social {
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.social__link--footer {
  fill: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .sb-social {
    text-align: start;
  }
}

/* Header */
.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
@media screen and (min-width: 480px) {
  .header__container {
    height: 60px;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    height: 80px;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    height: 80px;
    width: 1200px;
  }
}

.nav {
  display: block;
}
@media screen and (max-width: 767px) {
  .nav {
    margin-bottom: 302px;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 14px;
    line-height: 1.1;
    position: relative;
  }
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav__item:not(:first-child) {
    margin-left: 50px;
  }
}

.nav__link--current {
  color: #2196f3;
}
.nav__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  left: 0;
  bottom: -17px;
}
@media screen and (max-width: 767px) {
  .nav__link--current::after {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-left: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 250px;
  }
}

.menu-tel {
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .menu-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

.menu-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .menu-email {
    font-size: 14px;
  }
}

.contacts__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__link {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__icon {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-right: 50px;
  }
}

.contacts__item:not(:first-child) {
  margin-top: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:first-child) {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:first-child) {
    margin-top: 0;
  }
}

.menu-mobile-container {
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .menu-mobile-container {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .menu-mobile-container {
    display: none;
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: 796px;
    background-color: #ffffff;
    padding: 20px;
    font-size: 20px;
  }
}

.menu-mobile-container.is-open {
  display: block;
}
@media screen and (min-width: 768px) {
  .menu-mobile-container.is-open {
    display: flex;
  }
}

.soc-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .soc-mobile {
    display: none;
  }
}

.soc-mobile_link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
}

.soc-mobile_item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.soc-mobile_item {
  padding: 0 5px;
}

.order {
  height: 400px;
  margin: 0 auto;
  padding-top: 118px;
  background-color: #C4C4C4;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index/bg-img/img-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .order {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .order {
    width: 1600px;
    height: 600px;
    padding-top: 200px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .order {
    background-image: url(../images/index/bg-img/img-bg-mobile@2.jpg);
  }
}

.order__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .order__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media (min-width: 767px) {
  .order {
    background-image: url(../images/index/bg-img/img-bg-tablet.jpg);
  }
}
@media (min-width: 767px) and (min-device-pixel-ratio: 2), (min-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 767px) and (min-resolution: 192dpi), (min-width: 767px) and (min-resolution: 2dppx) {
  .order {
    background-image: url(../images/index/bg-img/img-bg-tablet@2x.jpg);
  }
}
@media (min-width: 1200px) {
  .order {
    background-image: url(../images/index/bg-img/img-bg-desctop.jpg);
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .order {
    background-image: url(../images/index/bg-img/img-bg-desctop@2.jpg);
  }
}
.properties__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .properties__title {
    text-align: center;
  }
}

.properties__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 0px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .properties {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .properties {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .properties__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .properties__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .properties__item:not(:last-child) {
    margin-right: 30px;
  }
}

.properties__box {
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work {
  display: flex;
}

.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ffffff;
  display: flex;
  width: 370px;
  height: 70px;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.work__item {
  position: relative;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work__item:not(:last-child) {
  margin-right: 30px;
}
.work__item:hover {
  transform: scale(1.1);
}

.our-team {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .our-team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team {
    flex-wrap: nowrap;
  }
}

.our-team__item {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .our-team__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

.our-team__post {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .our-team__post {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.our-team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.our-team__text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

/* Постоянные клиенты */
.clients {
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
  }
}

.clients__item {
  width: 170px;
  height: 92px;
}
@media screen and (min-width: 1200px) {
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  color: #2196f3;
  transform: scale(1.1);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* Кнопки фильтра */
.filtr {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .filtr {
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: nowrap;
  }
}
.filtr .filtr__item {
  margin-left: 8px;
  margin-bottom: 15px;
}
.filtr .filtr__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  background: #F5F4FA;
  border: #F5F4FA;
  height: 38px;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr .filtr__btn:hover, .filtr .filtr__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
  transform: scale(1.1);
}

/* Галерея */
/* Список без маркеров */
@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
}
.gallery .gallery__item {
  margin-right: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery .gallery__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery .gallery__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .gallery .gallery__item:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .gallery .gallery__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
.gallery .gallery__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .gallery .gallery__link {
    display: inline-block;
  }
}
.gallery .gallery__link:hover, .gallery .gallery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery .gallery__overlay {
  position: relative;
  overflow: hidden;
}
.gallery .gallery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.gallery .gallery__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}
.gallery .gallery__border {
  padding: 20px 24px;
  flex-grow: 1;
  /* Установит стили правой рамки */
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  /* Установит стили нинжней рамки */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  /* Установит стили левой рамки */
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
}

.overlay__text {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.gallery__link:hover .overlay__text, .gallery__link:focus .overlay__text {
  transform: translateY(0);
}

/* Footer */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .footer__address {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer .footer__address {
    margin-right: 165px;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer__address {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer-container {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__tablet {
    display: flex;
  }
}

/* Адрес - карта */
.address {
  margin-top: 20px;
  padding-bottom: 0;
}
.address .address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address .address__map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .address__map:hover, .address .address__map:focus {
  color: #2196f3;
}
.address .address__contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .address__contacts:hover, .address .address__contacts:focus {
  color: #2196f3;
}

/* Modal Dima */
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  width: 430px;
  height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.backdrop.is-hidden .modal {
  transform: scale(1.1) translate(-50%, -50%);
}

.button-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.icon-close {
  display: block;
  margin: 0 auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close:hover {
  fill: #2196f3;
}

.form {
  padding: 40px;
}
.form .form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}
.form .form__field {
  margin-bottom: 10px;
  position: relative;
}
.form .form__lable {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.form .form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: inherit;
  padding: 12px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form .form__input:focus + .form__icon {
  fill: #2196f3;
}
.form .form__input:focus {
  border-color: #2196f3;
}
.form .form__input::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form .form__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form .form__input::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form .form__icon {
  position: absolute;
  top: 30px;
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form .form__textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
/* Checkbox */
.checkbox {
  display: flex;
  z-index: 200;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.71;
  color: #757575;
  margin-bottom: 30px;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
  }
}
.checkbox .checkbox__icon {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}
.checkbox .checkbox__contract {
  margin-left: 2px;
  color: #2196f3;
}

.checkbox__input:checked + .checkbox__icon {
  background-color: #2196f3;
  background-image: url(../images/icons/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-color: #2196f3;
}

/* Подпишись на рассылку */
@media screen and (min-width: 1200px) {
  .subscribe {
    display: flex;
    justify-content: center;
  }
}
.subscribe .subscribe__input {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
  margin-bottom: 20px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .subscribe .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe .subscribe__input {
    width: 358px;
    margin-bottom: 0;
  }
}
.subscribe .subscribe__input:focus {
  color: #ffffff;
  background-color: #2f303a;
}
.subscribe .subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe .subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe .subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}/*# sourceMappingURL=main.css.map */