/* Постоянные клиенты */
  .clients{
    // display: flex;
    justify-content: center;

  }
  .clients__item{
    width: 170px;
    height: 92px;
      &:not(:last-child){
        margin-right: 30px;
      }

  }

  .clients__link{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%;
    height: 100%;
    border: 1px solid $border-clients-link;
    border-radius: 4px;
    color: $icon-social-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus{
        border-color: $acsent-color;
        color: $acsent-color;
        transform: scale(1.1);

      }
  }
  .clients__icon{
    width: 106px;
    height: 60px;
    fill: currentColor; 
  }  


