        /* Footer */
.footer {
  background-color: $footer-background;
  padding-top: 60px;
  padding-bottom: 60px;

    .footer__address{
      margin-bottom: 60px;

      @media screen and (min-width: 768px) {
        margin-right: 165px;
        text-align: start;           
      }
      @media screen and (min-width: 1200px) {
        margin-right: 70px;
        margin-bottom: 0;
      }
  
    }
}
.footer-container{
    text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;

  }

}

.footer__tablet{
  @media screen and (min-width: 768px) {
    display: flex;
    // flex-wrap: wrap;
    // margin: -15px;
       
  }
}





