        /* Footer */
.footer {
  background-color: $footer-background;
  padding-top: 60px;
  padding-bottom: 60px;

    .footer__address{
      margin-bottom: 60px;

      // @media screen and (min-width: 768px) {
      //   margin-right: 165px;
      //   text-align: start;           
      // }
      @media screen and (min-width: 1200px) {
        margin-right: 70px;
        margin-bottom: 0;
      }
  
    }
}
.footer-container{
    text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

  }

}

.footer__tablet{
    margin-bottom: 60px;
    
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
     // flex-wrap: wrap;
    // margin: -15px;
       
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-bottom: 0;
    // margin-right: 93px;
  }
}






