.form{
  padding: 40px;

  .form__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
    color: $title-color;

  }
  .form__field{
    margin-bottom: 10px;
    position: relative;
  }
  .form__lable{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;

  }
  .form__input{
    width: 100%;
    height: 40px;
    border: 1px solid $border-form-input;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: inherit;
    padding: 12px;
    padding-left: 42px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
      &:focus + .form__icon{
        fill: $acsent-color;
      }
      
      &:focus{
        border-color: $acsent-color;
      
      }
      &::placeholder{
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
      }
  }

  .form__icon{
    position: absolute;
    top: 30px;
    left: 12px;
    fill: $title-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

  .form__textarea{
    height: 120px;
    padding: 12px 16px;
    resize: none;

  }
  .form__comment{
    // margin-bottom: 20px;
  }
}


/* Checkbox */



.checkbox {
  display: flex;
  z-index: 200;
  align-items: center;
  justify-content: center;
  font-size: 12px;

  line-height: 1.71;
  color: $primary-color;
  margin-bottom: 30px;
  margin-top: 20px;


  @media screen and (min-width: 1200px) {
  font-size: 14px;
}


  .checkbox__icon{
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid $border-checkbox-icon;
    border-radius: 2px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
  }

  .checkbox__contract{
    margin-left: 2px;
    color: $acsent-color;
  }
}

.checkbox__input:checked + .checkbox__icon{
  background-color: $acsent-color;
  background-image: url(../images/icons/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-color: $acsent-color;

}



