/* Header */
.header{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;

    }
.header__container{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    // width: 480px;




    @media screen and (min-width: 480px) {
        height: 60px;
        width: 480px;
    }
    @media screen and (min-width: 768px) {
        height: 80px;
        width: 768px;
    }
    @media screen and (min-width: 1200px) {
        height: 80px;
        width: 1200px;
    }
    }


