/* Modal Dima */
.backdrop{
  position: fixed;
  z-index: 100;

  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;

}

.modal{
  position: relative;


  background: $modal-background;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

    @media screen and (min-width: 480px) {
      width: 450px;
      height: 609px;
        top: 50%;
          left: 50%;
          transform: scale(1) translate(-50%, -50%);
      }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
  
    .backdrop.is-hidden &{
      transform: scale(1.1) translate(-50%, -50%);
    
    }

}


.button-close{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  background: $modal-background;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
      transform: scale(1.1);  
      cursor: pointer;

    }
}


.icon-close{
  display: block;
  margin: 0 auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  &:hover{
    fill: $acsent-color;

    }


}

  