    .our-team{
      // display: flex;
      text-align: center;
      justify-content: space-between;

    }

    .our-team__item{
      width: 270px;
      box-shadow: 
      0px 1px 3px rgba(0, 0, 0, 0.12), 
      0px 1px 1px rgba(0, 0, 0, 0.14), 
      0px 2px 1px rgba(0, 0, 0, 0.2);
      background-color: $our-team-background;

    }

    .our-team__post{
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 0;
      
    }

    .our-team__title{
      font-weight: 500;
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: 0.03em;
      color: $title-color;
      margin-bottom: 10px;

    }

    .our-team__text{
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: 0.03em;
      color: $primary-color;
      margin-bottom: 16px;

    }



