  .properties__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $link-color;
    @media screen and (max-width: 767px) {      
      text-align: center;

      }
  
  }
  
  .properties__text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primary-color;
    margin-bottom: 0px;
    margin-top: 10px;





  }

  .properties{
    @media screen and (min-width: 768px) {
         display: flex;
         flex-wrap: wrap;
         margin: -15px;
         
     }
     @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
  }

  .properties__item{

    @media screen and (max-width: 767px) {      
      margin-bottom: 30px;
            }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 4 * 15px) / 2);      
      margin: 15px;
 }


    &:not(:last-child){

      @media screen and (min-width: 1200px) {      
        margin-right: 30px;

        }
    }

  }
  .properties__box{
    height: 120px;
    background-color: $icon-properties-background;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

