
  .work{
    display: flex;



  }

  .work__text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    position: absolute;
    left: 0;
    bottom: 0;
    color: $work-text-color;
    display: flex;
    width: 370px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background: rgba(47, 48, 58, 0.8);
  }
  .work__item{
    position: relative;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:not(:last-child){
        margin-right: 30px;
      }
      &:hover{
        transform: scale(1.1);
      }
  }






